.navbar-top { /* Adjusted for clarity and efficiency */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 10px;
  z-index: 10;  
  opacity: 0.8; /* Ensure the navbar is above the carousel */
  background: white; /* Set background color here for clarity */
}
.custom-width{
width:1%


}